<main>
  <section class="tasks">
    <h1>Enter Your Data Honey</h1>
    <form action="" class="data">
      <input type="text" name="nombre" placeholder="From" [(ngModel)]="nombre">
      <input type="text" name="apellido" placeholder="To" [(ngModel)]="apellido">
      <input type="text" name="dog" placeholder="Favorite dog breed" [(ngModel)]="dog">
      <button type="submit" (click)="mostrar()">Confirm</button>
    </form>
  </section>
  <app-presentation
  [nombre]="name"
  [apellido]="lastName"
  [perro]="Ndog"
  [mostrar]="mostrarData"></app-presentation>
</main>
