<main>
  <section class="images">
    <figure class="images_primary">
      <img src="../../../assets/one.jpeg" alt="">
      <div class="she">
        <p>Eres & siempre has sido la mujer mas maravillosa que
          a podido llegar a mi vida por muchas razaones que tu ya sabes.
        </p>
        <h3>Que pienso de ti:</h3>
          <p>Eres Honesta</p>
          <p>Responsable</p>
          <p>Respetuosa</p>
        <p>etc etc etc.</p>
        <button>Press</button>
      </div>
    </figure>
  </section>
  <section class="song">
    <div class="message">
      <p>La escuche & pense en ti <br> "Te la dedico con todo mi corazon".</p>
    </div>
    <audio #audioPlayer controls>
      <source src="../../../assets/Transforma Mi Mundo.mp3" type="audio/mpeg">
    </audio>
    <div class="message">
      <p>Me pone a pensar mucho esa cancion <br> Espero te guste el detalle.
      <br>Sencillo Pero Con Cariño 💘 </p>
    </div>
  </section>
</main>
