@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
.tasks{
  font-family: "Madimi One", sans-serif;
  width: 95vw;
  background: rgb(0, 132, 255);
  margin-top: 2vw;
  border-radius: 2vw 2vw 8vw 2vw;
  box-shadow: 4px 4px 4px 4px  rgb(201, 191, 191);
  padding: 1vw;
}
.images_primary
{
  width: 26vw;
  display: flex;
  position: relative;
}
.images_primary img{
  width: 100%;
  border-radius: 3vw 1vw;
}
.image_two img{
  border-radius: 1vw 3vw;
}
.image_two{
  position: relative;
  float: right;
}
figure .she{
  position: absolute;
  top: 0;
  width: 25vw;
  height: 100%;
  background: rgba(0,0, 0, 0.5);
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: left;
  padding-left: 1vw;
  color: rgb(252, 182, 193);
  border-radius: 3vw 1vw;
}
figure .inversa{
  border-radius: 1vw 3vw;
  width: 25vw;
}
figure:hover .she{
  opacity: 1;
  visibility: visible;
  cursor: pointer;
}
.she button
{
  width: 12vw;
  height: 4vw;
  border: none;
  border-radius: 2vw;
  font-family: "Madimi One", sans-serif;
  cursor: pointer;
  background: rgb(72, 153, 247);
}
.she button:hover{
  background: rgb(66, 66, 153);
}
.fotos{
  display: flex;
  gap: 1vw;
  width: 20vw;
  margin: auto;
}
.fotico{
  width: 10vw;
}
.fotico img{
  width: 100%;
  border-radius: 2vw 4vw;
}

.song
{
  border: 0.1vh solid rgb(99, 97, 97);
  width: 30vw;
  padding: 1vw;
  border-radius: 2vw;
  margin: auto;
}
.song audio{
  width: 100%;
}
@media screen and (max-width:710px) {
  .tasks{
    display: grid;
    width: 70vw;
    margin: auto;
    margin-top: 2vw;
  }
  .she{
    font-size: 1.5vw;
  }
  .image_two{
    margin: auto;
  }
  .song{
    font-size: 2vw;
  }
  .fotico{
    margin: auto;
  }
  audio{
    height: 6vw;
  }
  .she button{
    font-size: 1.6vw;
  }
}
@media screen and (max-width:450px) {
  .tasks h2{
    font-size: 4vw;
  }
  .tasks{
    display: grid;
    gap: 2vw;
    width: 90vw;
  }
  .images_primary{
    width: 40vw;
  }
  figure .she{
    width: 40vw;
    padding: 1vw;
    font-size: 3vw;
  }
  .she button{
    width: 15vw;
    height: 5vw;
    font-size: 2vw;
  }
  .song{
    width: 70vw;
    font-size: 3vw;
  }
  .fotico{
    width: 30vw;
  }
  .fotico img{
    width: 100%;
  }
  .fotos{
    width: 35vw;
  }
}
